<h1>Listing chats</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Comments</th>
    <th colspan="2"></th>
  </tr>

  <% @chats.each do |chat| %>
    <tr>
      <td><%= chat.title %></td>
      <td><%= chat.detail %></td>
      <td><%= link_to 'Show', chat_path(chat) %></td>
      <td><%= link_to 'Edit', edit_chat_path(chat) %></td>
      <td><%= link_to 'Destroy', chat_path(chat),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
