<p>
  <strong>Title:</strong>
  <%= @chat.title %>
</p>

<p>
  <p>Title:</p>
  <%= @chat.detail %>
</p>

<h2>Comments</h2>
<%= render @chat.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
